.search-icon {
  font-size: 32px;
  color: dimgray;
  background-color: #eee;
  border: 0;
  outline: none;
}

.search-toggle .search-icon.icon-close {
  display: none;
}
.search-toggle.opened .search-icon.icon-search {
  display: none;
}
.search-toggle.opened .search-icon.icon-close {
  display: block;
}

.search-container {
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
  background-color: #eee;
}
.search-container.opened {
  max-height: 100px;
}
.search-container input[type="text"] {
  outline: none;
  font-size: 1.6rem;
  margin: 18px;
  width: 300px;
  background-color: inherit;
  border: 0;
}
.search-container .search-icon {
  vertical-align: middle;
}

.container {
  position: relative;
  margin-top: 50px;
}

.search-container {
  position: absolute;
  left: 15px;
}
